/*#3540528*/
body {
  background: white;
  font-family: 'Lato', sans-serif; }

.panel {
  border-radius: 0;
  border: none; }
  .panel h2 {
    padding-top: 0;
    margin-top: 0; }

.btn {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: none;
  text-transform: uppercase;
  font-size: 12px; }

.btn-info {
  background: teal; }

.jumbotron {
  background: url("/images/main-image.jpg") 50% 10% no-repeat fixed;
  background-size: cover;
  height: 425px;
  padding: 0;
  background-position: fixed;
  text-align: center; }
  .jumbotron .logo {
    max-width: 250px;
    margin: 0 auto; }
  .jumbotron h1 {
    font-weight: 100;
    font-size: 36px;
    margin-top: 50px; }
  .jumbotron .jumbotron-overlay {
    background-color: rgba(0, 128, 128, 0.85);
    disaply: block;
    height: 100%;
    width: 100%;
    padding-top: 50px; }
  .jumbotron h1, .jumbotron p, .jumbotron hr {
    color: white; }

section {
  padding: 70px 0; }
  section h4 {
    color: teal; }
  section p, section li, section h1, section h2, section h3, section h5, section h6 {
    color: rgba(0, 0, 0, 0.5) !important; }
  section h1 {
    font-size: 36px;
    font-weight: 400;
    margin-top: 0; }
  section h2 {
    font-size: 28px; }
  section p {
    font-size: 14px;
    line-height: 1.7em; }

section:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05); }

section.top-features img {
  box-shadow: 0 15px 20px 5px rgba(0, 0, 0, 0.25); }

section.cta .row > div {
  text-align: center; }

section.benefits .row:nth-child(2) {
  text-align: center; }
  section.benefits .row:nth-child(2) .fa {
    color: teal !important; }

section.screenshots {
  display: none;
  text-align: center; }

section.final-call {
  text-align: center;
  display: none; }

footer {
  background-color: #354052; }
  footer a, footer p {
    color: rgba(255, 255, 255, 0.65); }
  footer a:hover {
    color: rgba(255, 255, 255, 0.95);
    text-decoration: none; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .jumbotron {
    height: 450px;
    text-align: center; }
  .logo {
    margin: 0 auto !important; } }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .jumbotron {
    text-align: left;
    height: 600px; }
  .logo {
    margin-left: 0 !important; } }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .jumbotron {
    text-align: left; }
    .jumbotron .logo {
      margin-left: 0 !important; } }
