$border-radius:0;
$section-bg-color:rgba(0,0,0,.05);


body	{
	background:white;
	font-family: 'Lato', sans-serif;;
	
	
}


.panel{
	border-radius:$border-radius;
	border:none;

	h2{
	padding-top:0;
	margin-top:0;
	}
}
.btn{
	border-radius: $border-radius;
	-webkit-border-radius: $border-radius;
	-moz-border-radius: $border-radius;
	border:none;
	text-transform: uppercase;
	font-size:12px;
}

.jumbotron{
	background:  url('/images/main-image.jpg') 50% 10% no-repeat;
	background-size:cover;
	height:60vh;
	padding:0;
	background-position:fixed;

	.logo	{
	max-width:350px;
	}

	h1{
		font-weight:100;
		font-size:36px;
		margin-top:50px;
	}

	.jumbotron-overlay{
		background-color:rgba(#354052,.95);
		disaply:block;
		height:100%;
		width:100%;
		padding-top:50px;
	}

	h1, p, hr{
	color:white;
	}
}



section{	

	p,li,h1,h2,h3,h5,h6{
		color:rgba(black,.5) !important;
	}	
	padding:70px 0;

	h1{
	font-size:36px;
	font-weight:400;
	margin-top:0;
	}

	h2{
	font-size:28px;
	}

	h3{

	}

	h4{
	color:#41AFFA;
	}
	p{
		font-size: 14px;
		line-height:1.7em;
	}
}

section.top-features{
	img{
	box-shadow:0 15px 20px 5px rgba(0,0,0,0.25);
	}
}
section.cta{
background-color:$section-bg-color;
	.row{
		>div{
		text-align:center;
		}
	}	
}

section.benefits .row:nth-child(2){
	text-align:center;
}

section.features{
background-color:$section-bg-color;
}

section.screenshots{
	text-align:center;
}

section.final-call{
text-align:center;
background-color:$section-bg-color;
}

footer{
	background-color:#354052;

	a,p{
		color:rgba(255,255,255,0.65);	
	}

	a:hover{
		color:rgba(255,255,255,0.95);
		text-decoration:none;	
	}

}
