$border-radius:0;
$section-bg-color:rgba(0,0,0,.05);
$overlay-color: #354052;

body	{
	background:white;
	font-family: 'Lato', sans-serif;;
}


.panel{
	border-radius:$border-radius;
	border:none;

	h2{
	padding-top:0;
	margin-top:0;
	}
}

.btn{
	border-radius: $border-radius;
	-webkit-border-radius: $border-radius;
	-moz-border-radius: $border-radius;
	border:none;
	text-transform: uppercase;
	font-size:12px;
}

.btn-info{
	background:$overlay-color;
}
.jumbotron{
	background:  url('/images/main-image.jpg') 50% 10% no-repeat;
	background-size:cover;
	height:60vh;
	padding:0;
	background-position:fixed;
	text-align: center;

	.logo	{
	max-width:350px;
	margin:0 auto;
	}

	h1{
		font-weight:100;
		font-size:36px;
		margin-top:50px;
	}

	.jumbotron-overlay{
		background-color:rgba($overlay-color,.85);
		disaply:block;
		height:100%;
		width:100%;
		padding-top:50px;
	}

	h1, p, hr{
	color:white;
	}
}



section{	
	h4{
	color:$overlay-color;
	}
	p,li,h1,h2,h3,h5,h6{
		color:rgba(black,.5) !important;
	}	
	padding:70px 0;

	h1{
	font-size:36px;
	font-weight:400;
	margin-top:0;
	}

	h2{
	font-size:28px;
	}

	h3{

	}

	
	p{
		font-size: 14px;
		line-height:1.7em;
	}


}


section:nth-child(odd) {
    background-color:$section-bg-color;
}

section.top-features{
	img{
	box-shadow:0 15px 20px 5px rgba(0,0,0,0.25);
	}
}
section.cta{

	.row{
		>div{
		text-align:center;
		}
	}	
}

section.benefits .row:nth-child(2){
	text-align:center;
}

section.features{

}

section.screenshots{
display:none;
	text-align:center;
}

section.final-call{
text-align:center;

}

footer{
	background-color:#354052;

	a,p{
		color:rgba(255,255,255,0.65);	
	}

	a:hover{
		color:rgba(255,255,255,0.95);
		text-decoration:none;	
	}

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.jumbotron{height:45vh;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px)  { 
.jumbotron{
		text-align: left;
		height:60vh;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px ) { 
.jumbotron{
		text-align: left;
	}
}
